@tailwind base;
@tailwind components;
@tailwind utilities;

.generalBTN {
  position: relative;
  width: fit-content;
  background: #334155;
  color: white;
  overflow: hidden;
  border: 1.4px solid transparent;
  border-radius: 10px;
}

.generalBTN .abss {
  background-color: white;
  width: 0%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}
.generalBTN:hover {
  color: #334155;
}
.generalBTN:hover .abss {
  width: 100%;
  height: 100%;
}
.PhoneInput {
  display: grid;
  grid-template-columns: 30px calc(100% - 30px);
  overflow: hidden;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
  width: 100%;
  outline: none;
}

.PhoneInput:focus {
  border: 2px solid rgb(0, 0, 0, 0.5);
}

.PhoneInput input {
  position: relative;
  border-bottom: 0px;
  width: 100%;
  border: 0px;
  outline: none;
}
.PhoneInput input:focus {
  border: 0px;
}

.PhoneInput .PhoneInputCountry {
  font-size: 0px;
  border: 1px solid transparent;
  height: 18px;
  overflow: hidden;
}

.PhoneInput .PhoneInputCountry .PhoneInputCountryIcon {
  position: relative;
  height: 100%;
  position: relative;
  top: 5px;
  left: 5px;
}

.PhoneInput .PhoneInputCountry .PhoneInputCountryIcon img {
  width: 20px;
}

.PhoneInput .PhoneInputCountry .PhoneInputCountrySelect {
  height: 20px;
  width: 30px;
  text-align: center;
  position: absolute;
  z-index: 10;
  opacity: 0;
  font-size: 13px;
}

.PhoneInput .PhoneInputCountry .PhoneInputCountrySelectArrow {
  display: none;
}

input.extend {
  width: 175px;
}

//PURCHASING FORM
.PURCHASEComponentContainer {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  background-color: white;
  font-size: medium;
  overflow-x: hidden;
  z-index: 0;
}

.PURCHASEComponentContainer .heading {
  text-align: center;
  position: relative;
  top: 40px;
  font-size: large;
  margin-bottom: 10px;
}

.FormRightside {
  background-color: #cbd5e1;
}

.FormRightside button {
  width: 100%;
  height: 50px;
  color: white;
  position: relative;
}

.FormRightside button:hover,
.FormRightside button:focus {
  color: white;
  font: large;
  border-top: 3px solid rgb(155, 106, 106);
}
